
body {
    background-color: rgb(190, 190, 190);
}

h2 {
    border: 1px black solid;
    border-radius: 10pc;
    text-align: center;
    -webkit-border-radius: 10pc;
    -moz-border-radius: 10pc;
    -ms-border-radius: 10pc;
    -o-border-radius: 10pc;
}

#contenedor {
    width: 200px;
    height: 200px;
    background-color: tomato;
    margin: auto;

    /* Gradiente */
    background: linear-gradient(red 50%, green 90%, yellow 100%);
}


#flag {
    width: 400px;
    height: 200px;
    margin: auto;
    background: linear-gradient(to right,red 33.3%,white 33.3% 66.6%,red 66.6% 100%);
}

#flag:hover {
    background: linear-gradient(to top,red 33.3%,white 33.3% 66.6%,red 66.6% 100%);
}

#circle {
    width: 200px;
    height: 200px;
    background-color: coral;
    margin: auto;
    margin-top: 40px auto;
    border-radius: 100%;
    filter: blur(5px) opacity(.5);
    -webkit-filter: blur(5px) opacity(.5);
}

#circle:hover {
    background-color: lightskyblue;
    filter: none;
    -webkit-filter: none;
}

/* 1 param eje x (default derecha) */
/* 2 param eje y (default abajo) */
/* 3 param blur (difuminación) */
/* 4 param spread (propagación) */
/* 5 param color de sombra */
.box-shadow {
    box-shadow: 15px 15px 10px -10px lightyellow;
}

/* 1 param eje x (default derecha) */
/* 2 param eje y (default abajo) */
/* 3 param blur (difuminación) */
/* 4 param color de sombra */
.text-shadow {
    text-shadow: 10px 10px 5px lightyellow;
}
