
body {
    background-color: rgb(190, 190, 190);
}

#contenedor {
    width: 200px;
    height: 200px;
    background-color: tomato;
    margin: auto;

    /* Gradiente */
    background: linear-gradient(red 50%, green 90%, yellow 100%);
}

/* 1 param eje x (default derecha) */
/* 2 param eje y (default abajo) */
/* 3 param blur (difuminación) */
/* 4 param spread (propagación) */
/* 5 param color de sombra */
.box-shadow {
    box-shadow: 15px 15px 10px -10px lightyellow;
}

/* 1 param eje x (default derecha) */
/* 2 param eje y (default abajo) */
/* 3 param blur (difuminación) */
/* 4 param color de sombra */
.text-shadow {
    text-shadow: 10px 10px 5px lightyellow;
}