* {
    margin: 0;
    padding: 0;
}

:root {
    /* **Colors */
    --sunglow-color: #FECB01;
    --orange-color: #FA550C;
    --white-color: #FEFCFA;
    --brown-sugar-color: #B26244;
    --polished-color: #63A496;
    --capri-color: #3EBDFC;
    --gray-color: #BAB8AD;

    /* **Fonts */
    --font-fraunces: 'Fraunces', sans-serif;
    --font-barlow: 'Barlow', sans-serif;
}

header {
    background-color: var(--capri-color);
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

/* Cuando un elemento es un hijo, como buena practica
    usamos el símbolo '>' */
ul > li {
    margin: 20px;
}

ul > li > a {
    font-family: var(--font-barlow);
    text-decoration: none;
    color: var(--white-color);
}

.contact {
    font-family: var(--font-fraunces);
    background-color: var(--white-color);
    color: #000;
    padding: 15px;
    border-radius: 25px;
}