body {
    margin: 0;
    padding: 0;
    background-color: #1c253f;
    font-family: 'Fredoka', sans-serif;
}

button {
    width: 120px;
    padding: 10px;
    background: #0d6efd;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-family: 'Fredoka';
    font-weight: 400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1865c9;
}

h1 {
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    text-align: left;
}

h2, p {
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    text-align: left;
    margin-left: 15px;
}

img {
    width: 100px;
    border-radius: 50%;
    border: solid hsl(0, 0%, 100%) 1px 0.5;
}

input {
    padding: 10px;
    width: 450px;
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #d3cbcb;
    font-size: 16px;
    font-family: 'Fredoka';
    font-weight: 400;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container {
    max-width: 600px;
    margin: auto;
}

.detail {
    display: flex;
    justify-content: center;
}

.init {
    height: 100px;
    align-items: center;
}

.info {
    justify-content: space-around;
    align-items: center;
    background-color: #22326b;
    margin: auto;
    border-radius: 12px;
    color: #fff;
    padding: 20px;
}

