/* MAIN */
main {
    width: 100%;
}

h2 {
    margin-bottom: 10px;
}

#container {
    margin: 50px auto;
    width: 50%;
}

.row {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.row > div {
    text-align: center;
    width: 25%;
}

.table {
    box-shadow: 10px 20px 10px #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.th {
    background-color: #333;
    font-weight: bolder;
    color: #fff;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.tr {
    background-color: var(--primary-color);
    border-bottom: 1px #666 dashed;
}

.tr:nth-child(even) {
    background-color: var(--secondary-color);
}

.tr:last-child {
    border-bottom: 1px #666 solid;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

@media only screen and (max-width: 992px) {
    #page {
        display: flex;
    }
    
}